<footer class="footer">
    <div class="container content has-text-centered" style="background-color:#0000e6;">
      <div class="columns">
        <div class="column is-one-quarter"><button class="button is-danger" >REPORT ABUSE</button></div>
        <div class="column">
          <img src="../../assets/img/F64.png">
          <!-- <img src="../../assets/img/photo+social+social+icon+social+media+social+network+icon-1320185801188466505_32.png"> -->
          <!-- <img src="../../assets/img/facebook+outline+social+media+icon-1320193495573517082_48.png"> -->
        </div>
        <div class="column">Auto</div>
      </div>
      <!-- <p>
        <button class="button is-danger" >REPORT ABUSE</button><br>
      </p> -->
    </div>
</footer>
