
<app-header></app-header>

<div class="container " style="height: 60% !important;">
  <section class="hero is-primary is-bold  is-3by4">
    <!-- <div class="hero-body"> -->
        <br><br>
        <div class="container " >
          <h1 class="title" align="center">
            ABOUT US
          </h1>
          <br>
          <!-- <div align="center"> -->
              <p align="center" style="color: white !important; font-size: 1.3rem !important;">
                  The internet hotline is an initiative  of the Film and Publication Board. The Film and<br>
                  Publication Board was established by parliament to regulate distribution  of films and <br>
                  publication  with the aim of protecting children from exposure to illegal, harmful and inappropriate material.
              </p>
              <br><br>
              <p align="center" style="color: white !important; font-size: 1.3rem !important;">
                  The internet hotline is a service that affords the members of the publics with an oppotunity <br>to report , online , any child ponography or sexual abuse images discoved accidentally <br>
                  on the internet. This may also includes child grooming activities hosted in the chat rooms.
              </p>
         <!-- </div> -->
         <br><br>
            
        </div>

        <br><br><br><br>
      <!-- </div> -->
  </section>
 

</div>
<div class="container "  align="center">
    <div  class="tan" style="height: 300px !important;">
        <div class="columns">
            <div class="is-4">
                <img src="../../assets/img/pornography.svg" style="height:30%">
                <p style="color: white !important;">Preventing <br>
                    Distribution Of <br>
                    Child Pornography
                </p>
            </div>

            <div class="column">
                <div class="is-4">
                    <img src="../../assets/img/internet copy.svg">
                    <p style="color: white !important;">Assessing Content<br>
                        and Providing <br>
                        Guidance to Parents
                    </p>
                </div>
            </div>
            <div class="column" >
                <div class="is-4" >
                    <img src="../../assets/img/safety.svg">
                    <p style="color: white !important;">
                        All Report Remain<br>
                        Anonymous to Protect <br>
                        your Identity
                    </p>
                </div>
            </div>
            </div>
    </div>
</div>

<div class="container " >
    <h1 align="center" style="font-size: 1.3rem !important;">The Primary Purpose of the FPB Hotline is to prevent distribution of child sexual abuse material <br> when detected online or on any other media</h1>
    <hr style="border-radius: 5px !important; border: 10px !important;"> 

    <p align="center"> The FPB Hotline provides a secure and confidential environment to members of  
        the public when reporting <br> child sexual abuse material. The hotline staff adheres to the code of 
    ethics(which outs emphasis on confidentiality) <br> as prescribe by National and International Bodies such as the International Associations of Internet Hotline.
    </p>
    <br>
    <p align="center">
        The Content Analysts who make up the hotline team will assess the contents of the alleged <br> child sexual abuse material, and take appropriate action, where the content is confirmed to contain <br> child sexual abuse material, by reporting it to law enforcemet agencies and instututing a take down.
    </p>
</div>
<br><br>
<div class="container " style="background-color: #95A5A6; width: 55%;">
    <p align="left"> <img src="../../assets/img/aboutUsp1.jpg" alt="Pineapple" style="height: 45%; width: 36%; float: left; padding-right: 5%;">
        The internet hotlinewill also foward a detailed 
        report relating to child ponography to the law
        enforcement agencies with the country for 
        prosecution.Our International networking and 
        imminent partneship with INHOPE allows us to 
        take action agains child pornography(child
        sexual abuse images) on the internet hosted
        outside South Africa.

        <br><br>
        These international networks will then pass our <br>
        reports to the appropriete law enforcement agencies.
       </p>
</div>

<br><br>
<!-- TODO -->
<div class="container " style="background-color: #95A5A6; width: 55%;">
    <p align="right"> <img src="../../assets/img/child.jpg" alt="Pineapple" style="height: 30%; width: 30%; float: right; padding-left: 5%;">
        The website is also intended to alert Internet 
        Service Prodivers of the criminal Activities , relateing
        to child pornography and or sexual abuse images 
        used/ hosted on their servers or distributed 
        through their Infrastructure 


        <br><br>
        The hotline will be available 24hrs a day and
         7 days a week to enable members of the public to 
         Immediately  report discovered  child ponography
         (child sexual abuse images). All reports will be 
         Acknowledge . Processed  and Appropriate 
         Feedback  will be Provided 

       </p>
</div>


