.hero.is-primary {
    /* background-color: #00d1b2; */
    color: #000084;
}
.hero{
    background-image: url('../../assets/img/aboutUs.jpg') !important;
    /* background-size: cover; */
    height: 20%;
    /* background-position: center center; */
    /* opacity: 0.5; */
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.tan {
    background-color: #1874CD;
    width: 80%;
    top: -89px;
    position: relative;
    opacity: 0.5;
}
img {
    height: auto;
    max-width: 50% !important;
}
