<app-header></app-header>
<!-- <div class="container">
<section class="hero is-primary is-bold">
    <div class="hero-body"> -->
        <!-- <div class="container"> -->
            <!-- <h1 class="title">contact Us!</h1> -->
        <!-- </div> -->
    <!-- </div>
</section>
</div>  -->
<div class="container " >
    <section class="hero">
        <br> <br>
       <h1 class="title" align="center" style="color: Black !important;">CONTACT US</h1> 
        <!-- <h1 class="title" align="center" style="color: Black !important;">Frequently Asked Questions </h1> -->

        <br> <br>
    </section>
</div>


<div class="container " >
    <!-- <div class="columns"> -->
        <!-- <CONTACT FORM -->
       


        <!-- ADDRESS SECTION  -->
        <div align="center">

            <section class="section">
                <div class="container ">
                    <h1><b>HEAD OFFICE</b></h1>
                    <br>

                        <label class="label"><i class="fa fa-phone" style="font-size:36px"></i>&nbsp;&nbsp;&nbsp;&nbsp;+27(0) 12 003 1400</label>
                    
                    <!-- Contact Number  -->

                    <div class="field">
                        
                        <label class="label"><i class="fa fa-envelope" style="font-size:36px"></i>&nbsp;&nbsp;&nbsp;&nbsp;hotline@fpb.org.za </label>
                    </div>
                    <!-- Email Address -->
                    <div class="field">
                        <label class="label"><i class="fa fa-map-marker" style="font-size:36px"></i>&nbsp;&nbsp;&nbsp;&nbsp;Physical Address </label>
                        <p>
                            <label class="label">ECO Glade 2<br>
                                420 Witch Hazel Street<br>
                                ECO Park<br>
                                Centurion<br>
                                0169
                            </label>

                        </p> 
                    </div>
                    
                </div>
            </section>

        </div>
    <!-- </div> -->
</div>




