<app-header></app-header>
<br><br>
<div class="container "><h1 class="title" align="center">NEWS & ARTICLES</h1></div>
<br><br>
<div class="container "  align="center">
    <div class="columns">
        <div class="column is-one-third">
            <img src="../../assets/img/child.jpg" alt="image">
            <p> Stay up to date with the Corona Virus<br> pandemic
                <br><span>10 May 2020</span>
            </p>
        </div>
        <div class="column">
            <img src="../../assets/img/child.jpg" alt="image">
            <p>Urging parents to be vigilant with their <br>children's online activity<br> <span>08 April 2020</span></p>
        </div>
        <div class="column">
            <img src="../../assets/img/child.jpg" alt="image">
            <p> Thw Holiday Season -Guidelines<br>
            <span>22 February 2020 </span></p>
        </div>
      </div>
</div>

<br><br>
<div class="container "  align="center">
    <div class="columns">
        <div class="column is-one-third">
            <img src="../../assets/img/child.jpg" alt="image">
            <p> Ponography popular among minors
                <br><span>02 March 2020</span>
            </p>
        </div>
        <div class="column">
            <img src="../../assets/img/news5.jpg" alt="image">
            <p>Tech enables inappropriate content <br><span>17 February 2020</span></p>
        </div>
        <div class="column">
            <img src="../../assets/img/aboutUs.jpg" alt="image">
            <p> Child porn sale, Droulation soars: Study
            <br><span>12 January 2020 </span></p>
        </div>
      </div>
</div>

<div class="container">
    <br><br>
       <p  align="center"> <a class="button is-medium">SEE MORE</a></p>
</div>
<br><br>
