<app-header></app-header>

<div class="container " style="height: 60% !important;">
  <section class="hero is-primary is-bold  is-3by4">
    <!-- <div class="hero-body"> -->
        <br><br>
        <div class="container " >
          <h1 class="title" align="center">
            COMMUNITY OUTREACH
          </h1>
          <br>
          <!-- <div align="center"> -->
            <p align="center" style="color: white !important; font-size: 1.3rem !important;">
                The internet hotline is an initiative  of the Film and Public Board. The Film and<br>
                Publication Board was established by parliament to regulate distribution  of films and <br>
                publication  with the aim of protecting children from exposure to Inappropriate material.<br>
            
                The internet hotline is a service that affords the members of the publics with an oppotunity <br>to report , online , any child ponography or sexual abuse images discoved accidentally <br>
                on the internet. This may also includes child grooming activities hosted in the chat rooms.
            </p>
         <!-- </div> -->
         <br><br>
            
        </div>
        <br><br><br>
        <div class="container "  align="center">
            <div  class="tan" style="height: 400px !important;">
                <div class="columns">
                    <div class="is-3">
                        <img src="../../assets/img/family.svg" style="height:20%"><br><br>
                        <p  align="center"> <a class="button is-medium">Parents Workshop</a></p>
                    </div>
        
                    <div class="column">
                        <div class="is-3">
                            <img src="../../assets/img/school.svg" style="height:10% !important"><br><br>
                            <p  align="center"> <a class="button is-medium">School Campaign</a></p>
                        </div>
                    </div>
                    <div class="column" >
                        <div class="is-5" >
                            <img src="../../assets/img/mortarboard.svg" ><br><br>
                            <p  align="center"> <a class="button is-medium">Law Enforcement</a></p>
                        </div>
                    </div>
                    </div>
            </div>
        </div>

        <br><br><br><br><br><br><br>
      <!-- </div> -->
  </section>